* {
    box-sizing: border-box;
  }
.maindiv {
    height: 500px;
    width: 300px;
    background-color: burlywood;
    margin-left: 400px;
    box-shadow: 35px 30px 35px 25px rgb(104, 75, 36);
    border-radius: 15px;

}

.firstinp {
    height: 38px;
    width: 250px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px;
    box-shadow: 2px 1px 1px rgb(121, 112, 112);

}
.th {
    height: 40px;
    width: 40px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px;
    margin: 5px;
    box-shadow: 4px 2px 2px rgb(200, 70, 70);

}
.th1{
    background-color: dodgerblue;
    height: 40px;
    width: 40px;
    font-size: 25px;
    color: white;
    border: 0px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 4px 2px 2px rgb(200, 70, 70);

}
.th2{
    height: 40px;
    width: 40px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px;
    margin: 5px;
    box-shadow: 4px 2px 2px rgb(200, 70, 70);
    background-color: rgb(15, 176, 123);
    color: white;
}